@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Oxanium:wght@200..800&family=Rubik+Glitch&display=swap');
@import url('welcomeStyle.css');
@import url('menuStyle.css');
@import url('aboutStyle.css');
@import url('abilitiesStyle.css');
@import url('educationStyle.css');
@import url('proyectosStyle.css');
@import url('contactoStyle.css');

body {
  margin: 0;
  overflow: hidden;
  background-color: black;
}
@keyframes glitch {
  0%, 65% {
    transform: translate(2px,0) skew(0deg);
    filter: hue-rotate(5deg) brightness(1.1);
  }
  5%, 60% {
    transform: translate(-2px,0) skew(0deg);
    filter: hue-rotate(-10deg);
  }
  64% {
    transform: translate(0,0) skew(5deg);
    filter: brightness(0.9) hue-rotate(9deg);
  }
}

.scroll-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden; 
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.secciones{
  flex: 0 0 100vw; 
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Geo';
    color:rgba(255, 255, 255, 0.7);
    background-color: black;
    scroll-snap-align: start;
    transition: transform 0.8s ease-in-out;
}
.videoContainer {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.videoFondo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.continuarBtn{
    position: absolute;
    font-size: 30px;
    font-family:'oxanium';
    font-weight: 100;
    z-index:3;
    bottom: 1vw;
    right:3vw;
}

.continuarBtn:hover{
    font-weight: 400;
    text-shadow: 0 0 5px white;
    animation: glitch 2s linear infinite;
}
.volverBtn{
    position: absolute;
    font-size: 30px;
    font-family:'oxanium';
    font-weight: 100;
    z-index:3;
    bottom: 1vw;
    left:3vw;
}

.volverBtn:hover{
    font-weight: 400;
    text-shadow: 0 0 5px white;
    animation: glitch 2s linear infinite;
}

.homeBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vw;
  height:5vw;
  position: absolute;
  font-family:'oxanium';
  font-weight: 100;
  z-index:3;
  top: 1.5vw;
  left:3vw;
  border-radius: 50%;
  background-color: #ffffff59;
  border: NONE;
  opacity: 50%;
}
.homeLogo{
width: 80%;
}
.homeBtn:hover{
  opacity: 80%;
    font-weight: 400;
    box-shadow: 0 0 5px white;
    background-color: none;
    background-image: url('/assets/img/noiseImg.png');
    background-size: 100px;
    background-repeat: repeat;
    animation: glitch 2s linear infinite;
}
#playPauseBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4vw;
  height:4vw;
  position: fixed;
  z-index:4;
  top: 1.5vw;
  right:3vw;
  border-radius: 50%;
  background-color: #ffffff59;
  border: none;
  opacity: 50%;
}
#playPauseIcon{
  width: 80%;
}
#playPauseBtn:hover{ 
  opacity: 100%;
  box-shadow: 0 0 10px white;
  background-image: url('/assets/img/noiseImg.png');
  background-size: 100px;
  background-repeat: repeat;
  animation: glitch 2s linear infinite;
}



@media(max-width: 1279px) {
  .scroll-container {
  overflow-y: scroll; 
}

  .continuarBtn,.volverBtn{
    font-size: 20px;
  }

}

@media(max-width:900px){
  .homeBtn{ 
    width:50px;
    height:50px;
  }
  #playPauseBtn{ 
    width:50px;
    height:50px;
  }
}


